<h2 class="sub-header">Transactions</h2>
<div class="search-bar form-inline">
  {{input type='text' value=idFilter placeholder='Transaction Id' class="form-control"}}
</div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>From</th>
            <th>To</th>
            <th>Timestamp</th>
            <th>Amount</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each pagedContent as |t|}}
          <tr>
            <td>{{t.fromAddress}}</td>
            <td>{{t.toAddress}}</td>
            <td>{{f-date t.timestamp}}</td>
            <td>{{t.amount}}</td>
            <td>
                {{#link-to 'transactions.details' t class="btn btn-xs btn-default"}}Details{{/link-to}}
                <button {{action 'deleteTransaction' t  target="controller"}} class="btn btn-xs btn-default"><i class="fa fa-trash-o"></i> Delete</button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    {{page-numbers content=pagedContent}}
    <br/>
    <button {{action 'newTransaction'}} class="btn btn-default"><i class="fa fa-pencil"></i> New Transaction</button>
    <a class="btn btn-default" href="/api/transactions/export">Export to Quicken</a>
