<h2 class="sub-header">Transactions</h2>
<div class="search-bar form-inline">
  {{input type='text' value=idFilter placeholder='Transaction Id' class="form-control"}}
</div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>From</th>
            <th>To</th>
            <th>Timestamp</th>
            <th>Amount</th>
            <th>Actions</th>
          </tr>
        </thead>
        {{#collection content=pagedContent tagName="tbody"}}
          <td>{{fromAddress}}</td>
          <td>{{toAddress}}</td>
          <td>{{f-date timestamp}}</td>
          <td>{{amount}}</td>
          <td>
              {{#link-to 'transactions.details' this class="btn btn-xs btn-default"}}Details{{/link-to}}
          </td>
        {{/collection}}
      </table>
    </div>
    {{page-numbers content=pagedContent}}
    <br/>
    <button {{action 'newTransaction'}} class="btn btn-default"><i class="fa fa-pencil"></i> New Transaction</button>
    <a class="btn btn-default" href="/api/transactions/export">Export to Quicken</a>
